<h1>Welcome Back, <%= @customer.name %></h1>

<img src="https://cdn2.iconfinder.com/data/icons/people-diversity-portraits-and-human-faces/32/i30-01-512.png" alt="curly hair icon" style="float:left; width: 200 px; height: 175px;">

<h4>Location: <%= @customer.location %></h4><br>

<h4>Hairtype: <%= @hairtype %> </h4>

<h4>Upcoming Appointments</h4><br>
<%= link_to "Make an Apointment", salons_path%><br>

<%= link_to "Edit Your Profile", edit_customer_path(@customer)%><br>

<%= link_to "Back to Home", root_path %>
