<!DOCTYPE html>
<html>
  <head>
    <title>Honeycomb</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <link rel="stylesheet" href="application.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg%>
    <% end %>
    <nav class="ui secondary menu">
      <%= link_to "Home", root_path, class: "item" %>
      <%= link_to "Salons", salons_path, class: "item" %>
      <%= link_to "Hairtypes", hairtypes_path, class:"item" %>
      <% if logged_in? %>
      <%= link_to "Your Profile", customer_path(session[:customer_id]), class:"item"%>
      <%= link_to "Log Out", logout_path, method: :delete, class:"item" %>
      <% else %>
      <%= link_to "Login", login_path, class: "item" %>
      <%= link_to "Sign Up", new_customer_path, class: "item" %>
      <% end %>
    </nav>
    <%= yield %>
    <script
 src="https://code.jquery.com/jquery-3.1.1.min.js"
 integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
 crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
 <script src="http://cdn.jsdelivr.net/jquery.glide/1.0.6/jquery.glide.min.js"></script>
 <script type="text/javascript">
   $('.slider').glide();
 </script>
  </body>
</html>
